{% extends 'manage/admin/base.html.twig' %}

{% block title %}{{ page_title|default('Managing') }}{% endblock %}

{% block body %}
    <section class="manage-panel">
        {% if content_title is defined and content_title is not empty %}
            <h1 class="manage-title">{{ content_title }}</h1>
        {% elseif page_title is defined and page_title is not empty %}
            <h1 class="manage-title">{{ page_title }}</h1>
        {% endif %}
        {% if content is not empty %}
            {{ content|raw }}
        {% endif %}
    </section>
{% endblock %}
