<div class="content-panel">
    <p>Managing is mounted under <code>/manage/</code>.</p>
    <div class="row">
        <div class="col-md-4 mb-3"><a class="btn btn-primary" href="/manage/components">Components</a></div>
        <div class="col-md-4 mb-3"><a class="btn btn-primary" href="/manage/resources">Resources</a></div>
        <div class="col-md-4 mb-3"><a class="btn btn-primary" href="/manage/routes">Routes</a></div>
        <div class="col-md-4 mb-3"><a class="btn btn-primary" href="/manage/forms">Forms</a></div>
        <div class="col-md-4 mb-3"><a class="btn btn-primary" href="/manage/relations">Relations</a></div>
        <div class="col-md-4 mb-3"><a class="btn btn-primary" href="/manage/probes">Probes</a></div>
        <div class="col-md-4 mb-3"><a class="btn btn-primary" href="/manage/status">Status</a></div>
        <div class="col-md-4 mb-3"><a class="btn btn-primary" href="/manage/configuration">Configuration</a></div>
        <div class="col-md-4 mb-3"><a class="btn btn-primary" href="/manage/workbench">Workbench</a></div>
    </div>
</div>
